.git
.gitignore
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
NoteBook/
Data/
Khac/
test/
Dashboard/__pycache__/
docker/__pycache__/
model/__pycache__/
xu_huong_doanh_thu_theo_bang.png
